<header id="app-header">
    <h2>
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label> {{titleHeader}}
    </h2>

    <!-- <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Buscar aqui">
    </div> -->

    <div class="user-wrapper">
        <img src="assets/img/faces/default-avatar.png" width="40px" height="40px" alt="user_image">
        <div>
            <p class="fw-bold">Ricardo Balvin Esteban</p>
            <small>Super admin</small>
        </div>
    </div>
</header>