#filters-dashboard mat-form-field {
    width: 17%;
}
#filters-dms mat-form-field {
    width: 16%;
}

.content-filters button.btn-refact {
    padding: 10px 0px !important;
    margin: 10px 0px 20px;
    font-size: 0.9rem;
    font-weight: 400;
}